.products-heading {
    border-top: 1px solid #b5b5b5;
    .buttons {
        margin-top: 20px;
    }
}

.events {
    .swiper-slide {
        padding: 10px;
    }
    .customer-item {
        position: relative;
        margin-bottom: 2.5rem;
        width: 100%;
        padding: 00px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        
        .customer-box {
            box-shadow: 0px 0px 13px rgb(0 0 0 / 25%);
            padding: 0 0 1rem;
            // background: linear-gradient(175deg, #fff, #d1d1d1);
            border-radius: 10px;
            transition: .3s ease-in-out;
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.25);
            }
        }
        .customer-img {
            // background: #fff;
            margin: 0 auto;
            img {
                width: 100%;
                display: flex;
                margin: 0 auto;
                min-height: 345px;
                max-height: 345px;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
            }
        }
    
        .package-heading {
            p.checking {
                // color: #000;
                min-height: 90px;
                font-weight: bold;
                font-size: 1.25rem;
                text-align: left;
            }
        }
    
        .prod-content {
            p.checking {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                min-height: 63px;
                p {
                    text-align: left;
                }
            }
        }
    
        .prod-details {
            padding: 1rem 1rem 0;
            border-top: 1px solid #ddd;
            min-height: 196px;
            .loc-detail {
                .location {
                    p {
                        margin-bottom: 0;
                    }
                }
            }
            span {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    
        .package-duration {
            width: fit-content;
            color: #fff;
            clip-path: polygon(9% 0,90% 3%,100% 94%,0 100%);
            font-size: 16px;
            font-weight: 600;
            padding: 9px 32px;
            text-transform: capitalize;
            background: #ff4838;
            border-radius: 3px;
            display: flex;
            align-items: center;
            margin: 0 auto;
            p {
                color: #fff;
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
    
        .package-content {
            display: flex;
            justify-content: flex-end;
            margin-top: 8px;
            align-items: center;
            
            .buttons {
                a {
                    padding: 6px 10px;
                    min-width: auto;
                    font-size: 14px;
                    border-width: 1px;
                    border-radius: 5px;
                }
            }
            .price {
                font-size: 14px;
                p {
                    strong {
                        color: #f26b3c;
                    }
                }
            }
        }
    
        &:last-child {
            margin-bottom: 3rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    .events.discover-list {
        .customer-item {
            margin-bottom: 3rem !important;
            width: 47%;
            margin: 0 10px;
            .package-heading {
                p.checking {
                    min-height: 120px;
                }
            }
            .package-content {
                .buttons {
                    a {
                        padding: 8px 16px;
                        font-size: 16px;
                        border-radius: 10%;
                    }
                }
                .price {
                    font-size: 16px;
                }
            }
            .prod-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 100px;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .events.discover-list {
        .customer-item {
            width: 31%;
            .package-heading {
                p.checking {
                    font-size: 16px;
                    min-height: 72px;
                }
            }
            .package-content {
                .buttons {
                    a {
                        padding: 8px 16px;
                        font-size: 16px;
                        border-radius: 10%;
                    }
                }
                .price {
                    font-size: 18px;
                }
            }
        }
    
        .products-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .heading {
                width: 50%
            }
            .buttons {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                border-radius: 5%;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .events.discover-list {
        .customer-item {
            width: 23%;
            .package-heading {
                p.checking {
                    min-height: 72px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .events.discover-list {
        .customer-item {
            width: 23%;
            .package-heading {
                p.checking {
                    min-height: 48px;
                }
            }
        }
    }
}